id: https://modellen.netbeheernederland.nl/{{ name }}
name: {{ name }}
description: |-
    {{ description }}
title: {{ title }}
license: https://www.apache.org/licenses/LICENSE-2.0.txt
imports:
- linkml:types
prefixes:
  linkml: https://w3id.org/linkml/
  cim: https://cim.ucaiug.io/ns#
  dcterms: http://purl.org/dc/terms/
  nbnl-term: https://begrippen.netbeheernederland.nl/id/
  unit: http://qudt.org/vocab/unit/
annotations:
  model_uri: https://modellen.netbeheernederland.nl/{{ name }}
  exchange_format: {{ exchange_format }}
  model_type: data-product
types: {}
enums: {}
classes: {}
